html {
    background-image: url('./instrument-dark-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    --primary: #00ff2f;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.keys {
    backdrop-filter: blur(3px);
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
}

.playing {
    transform: scale(1.1);
    border-color: var(--primary);
    box-shadow: 0 0 1rem var(--primary);
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--primary);
}